.App {
  /* text-align: center; */
  background-color: rgb(243, 243, 243);
}

.wrap {
  max-width       : 960px;
  background-color: #fff;
  margin          : auto;
  padding         : 20px;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0px !important;
}

.ant-list-item p {
  margin-bottom: 0.75em;
}

.ant-list-vertical .ant-list-item-action {
  font-size : 14px !important;
  margin-top: 14px !important;
}